            
            <!-- start: footer -->
            <div id="footer" class="clearfix">
                <ul>
                    <li class="left">
                        <ul>
                            <li><div class="module_heading_2"><span>Information</span></div></li>
                            <li><a href="shop_content.php?coID=4">Impressum</a></li>
                            <li><a href="shop_content.php?coID=9">Widerruf</a></li>
                            <li><a href="shop_content.php?coID=3">AGB</a></li>
                            <li><a href="shop_content.php?coID=1">Versandkosten</a></li>
                            <li><a href="shop_content.php?coID=2">Datenschutz</a></li>
                            <li><a href="shop_content.php?coID=8">Sitemap</a></li>
                        </ul>
                    </li>
                    
                    <li class="left">
                        <ul>
                            <li><div class="module_heading_2"><span>Quick-Links</span></div></li>
                            <li><a href="shopping_cart.php">Warenkorb</a></li>
                            <li><a href="account.php">Mein Konto</a></li>
                            <li><a href="checkout_shipping.php">Zur Kasse</a></li>        
                            <li><a href="shop_content.php?coID=7">Kontakt</a></li>
                        </ul>
                    </li>
                    
                    <li class="left">
                        <ul>
                            <li><div class="module_heading_2"><span>H&auml;ufig gesucht</span></div></li>
                            <li><a href="http://sh-webshop.com/index.php?cat=c1_Saz-Baglama-saz-Baglama.html">Saz Baglama</a></li>
                            <li><a href="http://sh-webshop.com/index.php?cat=c2_Davul-Pauke-Davul-Pauke.html">Davul</a></li>
                            <li><a href="http://sh-webshop.com/index.php?cat=c4_Darbuka-Darbuka-Darabuka-Trommel.html">Darbuka</a></li>
                            <li><a href="http://sh-webshop.com/index.php?cat=c5_Zurna-Mizmar-Zurna-Mizmar.html">Zurna</a></li>
                            <li><a href="http://sh-webshop.com/index.php?cat=c19_Zuberhoer-Saz-Tel-Mizrap-Akor-Zuberhoer.html">Zuberh&ouml;r</a></li>
                        </ul>
                    </li>
                    
                    <li class="left">
                        <ul>
                            <li><div class="module_heading_2"><span>Share</span></div></li>
                            <li><a id="footer_fb" href="https://www.facebook.com/ShWebshop">facebook</a></li>
                        </ul>
                    </li>
                </ul> 
                
                <div id="footer_copyright">
                    {$content_data.COPYRIGHT_FOOTER}
                </div>
                
            </div>
            <!-- end: footer -->
