{load_language_text section="shopping_cart"}
{load_language_text section="checkout_shipping" name="shipping"}
{load_language_text section="buttons" name="button"}
{config_load file="$language/gm_lang_$language.conf" section="lightbox"}


<!-- start: shopping_cart -->
{if $LIGHTBOX == 'true'}<div id="lightbox_content" style="display:none">{/if}
	<div class="shopping_cart{if $LIGHTBOX == 'true'} lightbox_block{/if}">
		<div class="process_bar right">
			<ul>
				<li class="active"><label><span>{$shipping.text_shoppingcart}</span></label></li>
				<li><label><span>{$shipping.text_yourdata}</span></label></li>
				<li><label><span>{$shipping.text_shipandpay}</span></label></li>
				<li><label><span>{$shipping.text_confirm}</span></label></li>
			</ul>
		</div>
		{if $LIGHTBOX == 'true'}
			<div style="position:relative;">
				<div class="lightbox_close"><a href="{$LIGHTBOX_CLOSE}" class="icon_lightbox_close" title="{$button.close}">&nbsp;</a></div>
			</div>
		{/if}
	  <h1>{$txt.heading_cart}</h1>

		{if $paypal_error != ''}
			<div class="errorText">{$paypal_error}</div>
		{/if}

		{if $info_message != ''}
			<div class="align_center info_message">
				{$info_message}
			</div>
		{/if}

		{* $MODULE_gift_cart *}

		{if $cart_empty==true}
		
			<div class="gift_cart_empty">
				<p>{$txt.text_empty}</p>
				
				
				{if $MODULE_gift_cart}		
					{$FORM_ACTION}
					<table cellspacing="0" class="shopping_cart_list">
						<tr>
							<td class="col_0 order-total">
								{$MODULE_gift_cart}				
							</td>
						</tr>
					</table>	
					{$FORM_END}
				{/if}
				<div class="continue_button"><a href="{$BUTTON_BACK_URL}" class="button_grey_big button_set_big action_page_back"><span class="button-outer"><span class="button-inner">{$button.continue_shopping}</span></span></a></div>
				
			</div>
		{else}
			{$FORM_ACTION}
			{$HIDDEN_OPTIONS}
			<div class="checkout_button">
                <a href="{'checkout_shipping.php'|xtc_href_link:'':'SSL'}" class="button_green_big button_set_big">
                    <span class="button-outer">
                        <span class="button-inner">
                            <img class="png-fix" src="{$tpl_path}images/icons/icon-white-shoppingcart.png" alt="" class="left" width="18" height="15" style="margin-right:10px" />
                            {$button.checkout}
                        </span>
                    </span>
                </a>
            </div>
			<br />
			<br />
			<br />
			{$MODULE_order_details}

			{if $info_message_1!=''}
				{$info_message_1}{$min_order} {$info_message_2}{$order_amount}<br />
			{/if}

			{* TODO: write action_page_back handler *}
			<div class="continue_button">
                <a href="{$BUTTON_BACK_URL}" class="button_grey_big button_set_big action_page_back">
                    <span class="button-outer">
                        <span class="button-inner">{$button.continue_shopping}</span>
                    </span>
                </a>
            </div>
			{* TODO: use xtc_href_link plugin *}
			<div class="checkout_button">
                <a href="{'checkout_shipping.php'|xtc_href_link:'':'SSL'}" class="button_green_big button_set_big">
                    <span class="button-outer">
                        <span class="button-inner">
                            <img class="png-fix" src="{$tpl_path}images/icons/icon-white-shoppingcart.png" alt="" class="left" width="18" height="15" style="margin-right:10px" />
                            {$button.checkout}
                        </span>
                    </span>
                </a>
                {if $BUTTON_PAYPAL}
                <br />
                {$txt.text_or}&nbsp;&nbsp;&nbsp;<br />{$BUTTON_PAYPAL}{/if}
            </div>
			{$FORM_END}
		{/if}
	</div>
{if $LIGHTBOX == 'true'}</div>{/if}
<!-- end: shopping_cart -->