
                        {load_language_text section="box_gm_bookmarks"}                        
                        <!-- start: box_gm_bookmarks -->                        
                        <div id="menubox_gm_bookmarks" class="c_gm_bookmarks content-box white clearfix">
                            
                            <div class="module_heading"><span>{$txt.heading_gm_bookmarks}</span></div> 
                            
                            <div id="menubox_gm_bookmarks_body" class="content-box-main clearfix">
                                <div class="content-box-main-inner clearfix">
                                    {$content_data.CONTENT}
                                </div>
                            </div>
                            
                        </div>
                        <!-- end: box_gm_bookmarks -->
