
                        {load_language_text section="box_gm_trusted_shops_widget"}
                        <!-- start: box_gm_trusted_shops_widget -->
                        <div id="menubox_gm_trusted_shops_widget" class="c_gm_trusted_shops_widget content-box white clearfix">
                            
                            <div class="module_heading"><span>{$txt.heading_trusted_buyer_rating}</span></div> 
                            
                            <div id="menubox_gm_trusted_shops_widget_body" class="content-box-main clearfix">
                                <div class="content-box-main-inner clearfix">
                                    {$content_data.CONTENT}
                                </div>
                            </div>
                            
                        </div>
                        <!-- end: box_gm_trusted_shops_widget -->
