
                        {load_language_text section="box_languages"}
                        <!-- start: box_languages -->
                        <div id="menubox_languages" class="c_languages content-box white clearfix">
                        
                            <div class="module_heading"><span>{$txt.heading_languages}</span></div> 
                            
                            <div id="menubox_languages_body" class="content-box-main clearfix">
                                <div class="content-box-main-inner clearfix">
                                    {$content_data.CONTENT}
                                </div>
                            </div>
                        </div>
                        <!-- end: box_languages -->
