
                        {load_language_text section="box_paypal"}
                        <!-- start: box_paypal -->
                        <div id="menubox_paypal" class="c_paypal content-box white clearfix">
                            
                            <div class="module_heading"><span>{$txt.paypal_title}</span></div>
                            
                            <div id="menubox_paypal_body" class="content-box-main clearfix">
                                <div class="content-box-main-inner clearfix">
                                    <!-- PayPal Logo -->
                                    <table border="0" cellpadding="10" cellspacing="0" align="center">
                                        <tr>
                                            <td align="center">
                                                <a href="{$content_data.PAYPAL_URL}" target="_blank" rel="nofollow"><img  src="https://www.paypal-deutschland.de/external/logocenter-update/logo-paypal-150x41.gif" border="0" alt="PayPal-Bezahlmethoden-Logo" /></a>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- PayPal Logo -->
                                </div>
                            </div>
                        </div>
                        <!-- end: box_paypal -->
