
                        {load_language_text section="box_manufacturers"}
                        <!-- start: box_manufacturers -->
                        <div id="menubox_manufacturers" class="c_manufacturers content-box white clearfix">
                            
                            <div class="module_heading"><span>{$txt.heading_manufacturers}</span></div> 
                            
                            <div id="menubox_manufacturers_body" class="content-box-main clearfix">
                                <div class="content-box-main-inner clearfix">
                                    {$content_data.CONTENT}
                                </div>
                            </div>
                            
                        </div>
                        <!-- end: box_manufacturers -->
