
                        {load_language_text section="box_information"}                            
                        <!-- start: box_information -->                            
                        <div id="menubox_information" class="c_information content-box white clearfix">
                            
                            <div class="module_heading"><span>{$txt.heading_infobox}</span></div> 
                            
                            <div id="menubox_information_body" class="content-box-main clearfix">
                                <div class="content-box-main-inner clearfix">
                                    <ul class="sidebar_nav">
                                    {$content_data.CONTENT} 
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        <!-- end: box_information -->
