                       
                        {load_language_text section="box_gm_scroller"}                        
                        <!-- start: box_gm_scroller -->                        
                        <div id="menubox_gm_scroller" class="c_gm_scroller content-box white clearfix">
                            
                            <div class="module_heading"><span>{$txt.heading_gm_scroller}</span></div> 
                            
                            <div id="menubox_gm_scroller_body" class="content-box-main clearfix" style="position:relative; overflow:hidden; height: {$content_data.HEIGHT}px;">
                                <div class="content-box-main-inner clearfix">
                                    <div id="gm_scroller" style="position:relative; display:none">
                                    {$content_data.CONTENT}
                                    </div>
                                </div>                                
                            </div>
                            
                        </div>
                        <!-- end: box_gm_scroller -->
