                        
                        {load_language_text section="box_order_history"}
                        <!-- start: box_order_history -->{if $content_data.CONTENT}
                        <div id="menubox_order_history" class="c_order_history content-box white clearfix">
                            
                            <div class="module_heading"><span>{$txt.heading_order_history}</span></div> 
                            
                            <div id="menubox_order_history_body" class="content-box-main clearfix">
                                <div class="content-box-main-inner clearfix">
                              {$content_data.CONTENT}
                                </div>
                            </div>
                        </div>{/if}
                        <!-- end: box_order_history -->
