
                        {load_language_text section="box_content"}                        
                        <!-- start:box_content -->                        
                        <div id="menubox_content" class="c_content content-box white clearfix">
                            
                            <div class="module_heading"><span>{$txt.heading_content}</span></div> 
                            
                            <div id="menubox_content_body" class="content-box-main clearfix">
                                <div class="content-box-main-inner clearfix">
                                    <ul class="sidebar_nav">
                                    {$content_data.CONTENT}
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        <!-- end:box_content -->
