
                        {load_language_text section="box_gm_ebay"}
                        <!-- start: box_gm_ebay -->
                        <div id="menubox_gm_ebay" class="c_gm_ebay content-box white clearfix">
                            
                            <div class="module_heading"><span>{$txt.heading_gm_ebay}</span></div> 
                                
                            <div id="menubox_gm_ebay_body" class="content-box-main clearfix">
                                <div class="content-box-main-inner clearfix">
                              {$content_data.CONTENT}
                                </div>
                            </div>
                            
                        </div>
                        <!-- end: box_gm_ebay -->
