{config_load file="$language/lang_$language.conf" section="account_password"}
<div id="account">
	<div id="iconizing_icon">
		<img src="{$tpl_path}icons/persdaten.gif" alt="{#heading_password#}" title="{#heading_password#}" />
	</div>
	
	<h1>
		{#heading_password#}
	</h1>
	
	<div class="cell_note">
		{#text_must#}
	</div>
	{$FORM_ACTION}		
	<div class="heading_form">
		<h2>
			{#text_password#}
		</h2>
	</div>
	<div class="box_content">
		<div class="cell_left {if $error_password} class_error{/if}">{#text_actual#}</div>
		<div class="cell_right{if $error_password} class_error{/if}">{$INPUT_ACTUAL}
		{if $error_password}
			<span class="class_error_message">{$error_password}</span>
		{/if}
		</div>

		<div class="cell_left {if $error_new_password} class_error{/if}">{#text_new#}</div>
		<div class="cell_right{if $error_new_password} class_error{/if}">{$INPUT_NEW}
		{if $error_new_password}
			<span class="class_error_message">{$error_new_password}</span>
		{/if}
		</div>

		<div class="cell_left {if $error_confirmation} class_error{/if}">{#text_confirm#}</div>
		<div class="cell_right{if $error_confirmation} class_error{/if}">{$INPUT_CONFIRM}
		{if $error_confirmation}
			<span class="class_error_message">{$error_confirmation}</span>
		{/if}
		</div>
		<br />
		<div class="box_left">{$BUTTON_BACK}</div>
		<div class="align_right">{$BUTTON_SUBMIT}</div>
		{$FORM_END}
	</div>
</div>