{config_load file="$language/lang_$language.conf" section="checkout_shipping_address"}
{config_load file="$language/gm_lang_$language.conf" section="lightbox"}

<div{if $LIGHTBOX == 'true'} id="lightbox_content"{/if}>
<div id="checkout_shipping" class="checkout{if $LIGHTBOX == 'true'} lightbox_block{/if}">

	<div class="head_height">
		<div id="iconizing_icon">
			<img src="{$tpl_path}icons/adresse.gif" />
		</div>
		
		<div id="iconized_page_head">
			{#heading_address#}
		</div>	
	</div>
	
	{$FORM_ACTION}
	
	<div class="heading">
		<img src="{$tpl_path}icons/versadresse.gif"  alt="{#title_current_address#}" title="{#title_current_address#}" />
		<h2>
			{#title_current_address#}
		</h2>
		<div class="subtitle">{#text_current_address#}</div>
	</div>
	
	<div class="shipping_address_block">
		<div class="text_block_heading">{#title_current_address#}:</div>
		<div class="text_block">{$ADDRESS_LABEL}</div>
	</div>
		
	{if $BLOCK_ADDRESS}
		<div class="text_block_heading" id="block_address">
			{#title_old_addresses#}
		</div>
		<div class="text_block">
			{#text_old_addresses#}
		</div>
		{$BLOCK_ADDRESS}
	{/if}
	
	{if $MODULE_new_address}
		{$MODULE_new_address}
	{/if}
	
	{if $GM_PRIVACY_LINK != '0'}
	<br />
	<div id="gm_privacy">	
		{$GM_PRIVACY_LINK}
	</div>	
	{/if}

	<div class="continue">
		<div class="button_back">{$BUTTON_BACK}</a></div>
		<div class="button_continue">{$BUTTON_CONTINUE}</div>
	</div>
	
	{$FORM_END}
	
	<div class="history_navbar">
	
		<div class="navbar_line"><img src="{$tpl_path}img/checkout_bullet.gif" alt="" /></div>
		<div class="navabar">
			<div class="navabar_text_current">{#text_shipping_info#}</div>
			<div class="navabar_text">{#text_payment_info#}</div>
			<div class="navabar_text">{#text_confirm#}</div>
			<div class="navabar_text">{#text_finished#}</div>
		</div>
	
	</div>
	
	<div id="footer">{#gm_window_close#}</div>

</div>
</div>