{load_language_text section="checkout_confirmation"}
{load_language_text section="buttons" name="button"}

<div{if $LIGHTBOX == 'true'} id="lightbox_content"{/if}>
<div id="gm_checkout_confirmation" class="checkout{if $LIGHTBOX == 'true'} lightbox_block{/if}">
	<div class="head">
		<div id="iconizing_icon">
			<img src="{$tpl_path}icons/bestellaufgeben.gif" />
		</div>

		<div id="iconized_page_head">
			{$txt.heading_confirmation}
		</div>
	</div>

	<div class="text_information">
	{if $ERROR}
		{$ERROR}
	{else}
		{$txt.text_information}
	{/if}
	</div>
	
	{if $PRIVACY_CONFIRMATION}<div class="conditions_info"><img src="{$tpl_path}img/arrow_green.gif" /> {$PRIVACY_CONFIRMATION}</div>{/if}
	{if $CONDITIONS_CONFIRMATION}<div class="conditions_info"><img src="{$tpl_path}img/arrow_green.gif" /> {$CONDITIONS_CONFIRMATION}</div>{/if}
	{if $WITHDRAWAL_CONFIRMATION}<div class="conditions_info"><img src="{$tpl_path}img/arrow_green.gif" /> {$WITHDRAWAL_CONFIRMATION}</div>{/if}
	<br /><br />
	
	{if $GM_LOG_IP =='1' && ($GM_CONFIRM_IP =='1' || $GM_SHOW_IP =='1')}
		<div class="text_information">
			{if $GM_CONFIRM_IP =='1'}
				{$GM_CONFIRM_IP_CHECK} {$txt.text_log_ip} {$CUSTOMERS_IP}
			{/if}
		</div>
	{/if}

	<div class="address">

		<div class="left_address">
			<div class="heading">
				{$txt.text_shipping_address} <a href="{$SHIPPING_ADDRESS_EDIT}" class="confirmationEdit">{$txt.text_edit}</a>
			</div>
			<div class="addresses">
				{$DELIVERY_LABEL}
			</div>
		</div>

		<div class="right_address">
		{if $BILLING_LABEL}
			<div class="heading">
				{$txt.text_payment_address} <a href="{$BILLING_ADDRESS_EDIT}" class="confirmationEdit">{$txt.text_edit}</a>
			</div>
			<div class="addresses">
				{$BILLING_LABEL}
			</div>
		{/if}
		</div>

	</div>
	{if $LIGHTBOX == 'true'}<div style="clear:both;">&nbsp;</div>{/if}






	{if $PAYMENT_METHOD!='' && $BILLING_LABEL}
		<div class="heading">
			{$txt.text_payment_method} <a href="{$PAYMENT_EDIT}" class="confirmationEdit">{$txt.text_edit}</a>
		</div>
		<div class="content">
			{$PAYMENT_METHOD}
		</div>
	{/if}

	{if $ORDER_COMMENTS!=''}
		<div class="heading">
			{$txt.text_comments} <a href="{$PAYMENT_EDIT}" class="confirmationEdit">{$txt.text_edit}</a>
		</div>
		<div class="content">
			{$ORDER_COMMENTS}
		</div>
	{/if}

	{if $PAYMENT_INFORMATION!='' && $BILLING_LABEL}
		<div class="heading">{$txt.text_payment_info}</div>
		<div class="content">{$PAYMENT_INFORMATION}</div>
	{/if}

	<div class="heading">
		{$txt.text_products} <a href="{$PRODUCTS_EDIT}" class="confirmationEdit">{$txt.text_edit}</a>
	</div>
	
	<div id="products_overview">
		<table cellspacing="0">

			{$PRODUCTS_TABLE_PART}

			{foreach name=total_block item=total_item_array from=$total_block_data}
				<tr class="{if $smarty.foreach.total_block.last}total{/if}">
					<td colspan="2">&nbsp;</td>
					<td class="order_total_name" colspan="2">{$total_item_array.title}</td>
					<td class="order_total_price">{$total_item_array.text}</td>
				</tr>
			{/foreach}
		</table>

		{if $CONFIRMATION_INFO|strip_tags:true|trim}
			<div id="confirmation_info">{$CONFIRMATION_INFO}</div>
		{/if}
	</div>	
	
	<div class="continue" align="right">
		{$CHECKOUT_FORM}
		{if $MODULE_BUTTONS!=''}{$MODULE_BUTTONS}{/if}
		<div class="button_back">{$BUTTON_BACK}</div>
		<div class="button_continue">{$CHECKOUT_BUTTON}</div>
	</div>

	<div class="navbar_line"><img src="{$tpl_path}img/checkout_bullet.gif" alt="" /></div>
	<div class="navabar">
		<div class="navabar_text">{$txt.text_shipping_info}</div>
		<div class="navabar_text">{$txt.text_payment_info}</div>
		<div class="navabar_text_current">{$txt.text_confirm}</div>
		<div class="navabar_text">{$txt.text_finished}</div>
	</div>

	<div id="footer">{$button.close}</div>

</div>
</div>