{config_load file="$language/lang_$language.conf" section="checkout_shipping"}
{config_load file="$language/gm_lang_$language.conf" section="lightbox"}

<div{if $LIGHTBOX == 'true'} id="lightbox_content"{/if}>
<div id="checkout_shipping" class="checkout{if $LIGHTBOX == 'true'} lightbox_block{/if}">

	<div class="head_height">
		<div id="iconizing_icon">
			<img src="{$tpl_path}icons/adresse.gif" />
		</div>
		
		<div id="iconized_page_head">
			{#heading_shipping#}
		</div>
	</div>
	
	{$FORM_ACTION}
	
	<div class="heading">
		<img src="{$tpl_path}icons/versadresse.gif"  alt="{#title_address#}" title="{#title_address#}" />
		<h2>
			{#title_address#}
		</h2>
		<div class="subtitle">{#text_addressbook#}</div>
	</div>
	
	
	<div class="shipping_address_block">
		<div class="text_block_heading">{#title_address#}:</div>
		<div class="text_block">{$ADDRESS_LABEL}</div>
		<div class="text_block_button">{$BUTTON_ADDRESS}</div>
	</div>
	
	{if $GM_FREE_SHIPPING_ACTIVATED != 1}
	<div class="heading">
		<img src="{$tpl_path}icons/versandart.gif"  alt="{#title_shipping#}" title="{#title_shipping#}" />
		<h2>
			{#title_shipping#}
		</h2>
		{if $GM_MORE_SHIPPING}<div class="subtitle">{#text_shipping#}</div>{/if}
	</div>
	{else}
	<div class="heading2">
	<img src="{$tpl_path}icons/versandart.gif"  alt="{#title_shipping#}" title="{#title_shipping#}" />
	<h2>
		{#title_shipping#}
	</h2>
	</div>
	{/if}
	
	{if $STYLE_EDIT == '1'} 
	<div class="module_name">Test inaktiv</div>
	<div class="bottom_dotted">
		<div class="module_option_overflow module_option">
			<div class="module_option_title">Test</div>
		</div>	
	</div>
	
	<div class="module_name">Test aktiv</div>
	<div class="bottom_dotted">
		<div class="module_option_overflow module_option_checked">
			<div class="module_option_title">Test</div>
		</div>	
	</div>
	{/if}
	
	{$SHIPPING_BLOCK}
	
	<div class="continue">
		<div class="button_back">{$BUTTON_BACK}</div>
		<div class="button_continue">{$BUTTON_CONTINUE}</div>
	</div>
	
	
	{$FORM_END}
	
	<div class="history_navbar">
	
		<div class="navbar_line"><img src="{$tpl_path}img/checkout_bullet.gif" alt="" /></div>
		<div class="navabar">
			<div class="navabar_text_current">{#text_shipping_info#}</div>
			<div class="navabar_text">{#text_payment_info#}</div>
			<div class="navabar_text">{#text_confirm#}</div>
			<div class="navabar_text">{#text_finished#}</div>
		</div>
	
	</div>
	
	<div id="footer">{#gm_window_close#}</div>
	
</div>
</div>