{config_load file="$language/lang_$language.conf" section="new_password"} 

<div id="account">
	<div id="iconizing_icon">
		<img src="{$tpl_path}icons/persdaten.gif" />
	</div>

	<h1>
		{$text_heading}
	</h1>

	{$FORM_ACTION}
	{$info_message}
	<div class="heading_form">
		<h2>
			{#text_step1#} {#text_info_pre#}
		</h2>
	</div>
	<div class="box_content">
		
		<!-- <div>{#text_info_pre#} {$SHOP_NAME} {#text_info_post#}</div> -->
		
		<div class="cell_left vvcode">{#text_sec_code#}</div>
		<div class="cell_right vvcode">{$VVIMG}</div>
		
		<div class="cell_left">{#text_inp_code#}:</div>
		<div class="cell_right">{$INPUT_CODE}</div>

		<div class="cell_left">{#text_email#}</div>
		<div class="cell_right">{$INPUT_EMAIL}</div>
		
<!-- 		<div class="cell_left">&nbsp;</div>
		<div class="cell_right">{#text_continue#}</div>				
 -->
		<div class="align_right">{$BUTTON_SEND}</div>				
	</div>
	
	{$FORM_END} 
</div>