{config_load file="$language/lang_$language.conf" section="shopping_cart"}

<div id="shopping_cart">

	<div id="iconizing_icon">
		<img src="{$tpl_path}icons/merkzettel.gif" alt="{#heading_cart#}" title="{#heading_cart#}" />
	</div>

	<div id="iconized_page_head">
		{php}echo NC_WISHLIST_CONTAINS{/php}
	</div>

	{if $cart_empty==true}
		<div class="gift_cart_empty">
			{#text_empty_wishlist#} {$BUTTON_CONTINUE}<br /><br />
		</div>
		
	{else}
	
		{$FORM_ACTION}
		{$HIDDEN_OPTIONS}
			
			{$MODULE_order_details}<br/>
			
			<div class="gift_cart_left">{$BUTTON_UPDATE}</div>
			<div class="gift_cart_right">{$BUTTON_RELOAD} {$BUTTON_CART}</div>
			
			
			<input type="hidden" name="submit_target" value="cart">
		{$FORM_END}
	
	{/if}

</div>