{config_load file="$language/lang_$language.conf" section="boxes"}

<div id="menubox_paypal" class="c_paypal">
	<div id="menubox_paypal_head" class="c_boxhead">
		Sicher zahlen mit PayPal
	</div>

	<div id="menubox_paypal_body">
		<!-- PayPal Logo -->
		<table border="0" cellpadding="10" cellspacing="0" align="center">
			<tr>
				<td align="center">
					<a href="#" onclick="javascript:window.open('https://www.paypal.com/de/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=500'); return false;"><img  src="https://www.paypal-deutschland.de/external/logocenter-update/logo-paypal-150x41.gif" border="0" alt="PayPal-Bezahlmethoden-Logo" /></a>
				</td>
			</tr>
		</table>
		<!-- PayPal Logo -->
	</div>
</div>