{config_load file="$language/lang_$language.conf" section="boxes"}
{if $deny_cart neq 'true'}

	{if $empty=='false'}
	
		<div id="menubox_cart" class="c_cart">
			<div id="menubox_cart_head" class="c_boxhead">
				<a href="{$LINK_CART}"><img src="{$tpl_path}img/icon_more_light.gif" alt="{#heading_cart#}" title="{#heading_cart#}" /></a>
				{#heading_cart#}
			</div>
		
			<div id="menubox_cart_body">
						{php} $cnt=0; {/php}
						{foreach name=aussen item=products_data from=$products}
							{php} $cnt++; {/php}
						{/foreach}
						
						<div id="box_cart_qty">
							{php}
								if($cnt <= 0) { {/php}{#text_empty_cart#}{php} }
								if($cnt == 1) { {/php}{#gm_cart_one_prod#}{php} }
								if($cnt >  1) { echo "$cnt ";{/php}{#gm_cart_sev_prod#}{php} }
							{/php}
						</div>	
		
		        {if $DISCOUNT}{#text_discount#}&nbsp;{$DISCOUNT}<br>{/if}
		
						{$UST}<strong>{#text_total#}</strong>{$TOTAL}{if $SHIPPING_INFO}<br />{$SHIPPING_INFO}{/if}
			
			{if $coupon_valid == 'true'}
				<div class="box_overflow">
					<div class="box_left">
						<img src="{$tpl_path}img/img_gift.gif" alt="{#heading_cart#}" title="{#heading_cart#}" />
					</div>
					<div class="box_right">
							{#cart_coupon#}
							{$coupon_amount}
					</div>						
				</div>
			{/if}
			</div>
		</div>
	
	{else} <!-- cart has no content --> 
	
		<div id="menubox_cart" class="c_cart">
			<div id="menubox_cart_head" class="c_boxhead">
				<a href="{$LINK_CART}"><img src="{$tpl_path}img/icon_more_light.gif" alt="{#heading_cart#}" title="{#heading_cart#}" /></a>
				{#heading_cart#}
			</div>
		
			<div id="menubox_cart_body">
				{#text_empty_cart#}
	
				{if $coupon_valid == 'true'}
					<div class="box_overflow">
						<div class="box_left">
							<img src="{$tpl_path}img/img_gift.gif" alt="{#heading_cart#}" title="{#heading_cart#}" />
						</div>
						<div class="box_right">
								{#cart_coupon#}
								{$coupon_amount}
						</div>						
					</div>
				{/if}
			</div>
		</div>
	{/if}	

{/if}