{load_language_text section="google_categories_administration"}
<div>
	<p>M&ouml;chten Sie den Wert wirklich l&ouml;schen?</p>
	<p>ID: {$content_data.properties_values_data.properties_values_id}<br />
	{foreach item=item_array from=$content_data.properties_values_data.PROPERTIES_VALUES_NAMES name=properties_values_names}	
		Name ({$item_array.code}): {$item_array.properties_values_name}<br />
	{/foreach}
	Sortiernummer: {$content_data.properties_values_data.sort_order}<br />
	Artikelnummer: {$content_data.properties_values_data.value_model}<br />
	Preis: {$content_data.properties_values_data.value_price}<br />
	{if $content_data.properties_values_data.value_price_type == "plus"}
		Preis-Typ: Aufschlag
	{/if}
	{if $content_data.properties_values_data.value_price_type == "minus"}
		Preis-Typ: Nachlass
	{/if}
	{if $content_data.properties_values_data.value_price_type == "fix"}
		Preis-Typ: Artikelpreis
	{/if}
	</p>
	{if $content_data.properties_values_data.value_in_combis_count > 0}
		<div style="color: red; margin: 10px 0;">Hinweis: Dieser Wert ist sind noch in {$content_data.properties_values_data.value_in_combis_count} Kombinationen enthalten!</div>
	{/if}
	<div><a href="#" class="button cancel" style="float: left;">Abbrechen</a><a href="#" class="button delete" style="float: right;">L&ouml;schen</a><div style="clear: both;"> <!-- --> </div></div>
</div>
{literal}
<script type="text/javascript">
	$(document).ready(function(){
		$(".lightbox_package_header").html("Wert l&ouml;schen");
		
		$(".cancel").bind("click", function(){
			lightbox_close();
			return false;
		});
		
		$(".delete").bind("click", function(){
			
			$.ajax({
				url: 		"request_port.php?module=properties_admin&action=delete&type=properties_values&properties_values_id=${properties_values_id}",
				type: 		"GET",
				async:		false,
				timeout: 	2000,
				error: 		function(){ if(fb)console.log('error'); },
				success: 	function(){ 
								$('#properties_table_container_${properties_id}').load(
																					'request_port.php?module=properties_admin&action=load&type=properties_table&properties_id=${properties_id}', 
																					function() {
																						if(fb)console.log('loaded: properties_table_container_${properties_id}');
																					}
																				);
								lightbox_close();
							}
			});
			return false;
		});
	});
</script>
{/literal}